openapi: 3.1.0
info:
  contact:
    name: ESI Support
    url: https://developers.eveonline.com/docs/support/
  license:
    name: EVE Developer License
    url: https://developers.eveonline.com/license-agreement
  termsOfService: https://support.eveonline.com/hc/en-us/articles/8414770561948-EVE-Online-Terms-of-Service
  title: EVE Stable Infrastructure (ESI) - tranquility
  version: 2025-08-26
servers:
- url: https://esi.evetech.net
tags:
- name: Alliance
- name: Assets
- name: Calendar
- name: Character
- name: Clones
- name: Contacts
- name: Contracts
- name: Corporation
- name: Corporation Projects
- name: Dogma
- name: Faction Warfare
- name: Fittings
- name: Fleets
- name: Incursions
- name: Industry
- name: Insurance
- name: Killmails
- name: Location
- name: Loyalty
- name: Mail
- name: Market
- name: Planetary Interaction
- name: Routes
- name: Search
- name: Skills
- name: Sovereignty
- name: Status
- name: Universe
- name: User Interface
- name: Wallet
- name: Wars
paths:
  /alliances:
    get:
      description: List all active player alliances
      operationId: GetAlliances
      parameters:
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlliancesResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: List all alliances
      tags:
      - Alliance
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /alliances/{alliance_id}:
    get:
      description: Public information about an alliance
      operationId: GetAlliance
      parameters:
      - description: The ID of the alliance
        explode: false
        in: path
        name: alliance_id
        required: true
        schema:
          $ref: "#/components/schemas/AllianceID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllianceResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get alliance information
      tags:
      - Alliance
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /alliances/{alliance_id}/contacts:
    get:
      description: Return contacts of an alliance
      operationId: GetAllianceContacts
      parameters:
      - description: The ID of the alliance
        explode: false
        in: path
        name: alliance_id
        required: true
        schema:
          $ref: "#/components/schemas/AllianceID"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllianceContactsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
            X-Pages:
              description: The total number of pages in the result set.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-alliances.read_contacts.v1
      summary: Get alliance contacts
      tags:
      - Contacts
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /alliances/{alliance_id}/contacts/labels:
    get:
      description: Return custom labels for an alliance's contacts
      operationId: GetAllianceContactsLabels
      parameters:
      - description: The ID of the alliance
        explode: false
        in: path
        name: alliance_id
        required: true
        schema:
          $ref: "#/components/schemas/AllianceID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllianceContactsLabelsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-alliances.read_contacts.v1
      summary: Get alliance contact labels
      tags:
      - Contacts
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /alliances/{alliance_id}/corporations:
    get:
      description: List all current member corporations of an alliance
      operationId: GetAllianceCorporations
      parameters:
      - description: The ID of the alliance
        explode: false
        in: path
        name: alliance_id
        required: true
        schema:
          $ref: "#/components/schemas/AllianceID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllianceCorporationsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: List alliance's corporations
      tags:
      - Alliance
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /alliances/{alliance_id}/icons:
    get:
      description: |-
        Get the icon urls for a alliance

        This route expires daily at 11:05
      operationId: GetAllianceIcons
      parameters:
      - description: The ID of the alliance
        explode: false
        in: path
        name: alliance_id
        required: true
        schema:
          $ref: "#/components/schemas/AllianceID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllianceIconsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get alliance icon
      tags:
      - Alliance
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/affiliation:
    post:
      description: "Bulk lookup of character IDs to corporation, alliance and faction"
      operationId: PostCharactersAffiliation
      parameters:
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: character integer
                format: int64
                type: integer
              maxItems: 1000
              minItems: 1
              type: array
              uniqueItems: true
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterAffiliationResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Character affiliation
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-content-type: application/json
      x-accepts:
      - application/json
  /characters/{character_id}:
    get:
      description: Public information about a character
      operationId: GetCharacter
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get character's public information
      tags:
      - Character
      x-cache-age: 604800
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/agents_research:
    get:
      description: "Return a list of agents research information for a character.\
        \ The formula for finding the current research points with an agent is: currentPoints\
        \ = remainderPoints + pointsPerDay * days(currentTime - researchStartDate)"
      operationId: GetCharacterResearchAgents
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterResearchAgentsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_agents_research.v1
      summary: Get agents research
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/assets:
    get:
      description: Return a list of the characters assets
      operationId: GetCharacterAssets
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterAssetsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
            X-Pages:
              description: The total number of pages in the result set.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-assets.read_assets.v1
      summary: Get character assets
      tags:
      - Assets
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/assets/locations:
    post:
      description: "Return locations for a set of item ids, which you can get from\
        \ character assets endpoint. Coordinates for items in hangars or stations\
        \ are set to (0,0,0)"
      operationId: PostCharacterAssetsLocations
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: item_id integer
                format: int64
                type: integer
              maxItems: 1000
              minItems: 1
              type: array
              uniqueItems: true
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterAssetsLocationsPost"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-assets.read_assets.v1
      summary: Get character asset locations
      tags:
      - Assets
      x-compatibility-date: 2020-01-01
      x-content-type: application/json
      x-accepts:
      - application/json
  /characters/{character_id}/assets/names:
    post:
      description: "Return names for a set of item ids, which you can get from character\
        \ assets endpoint. Typically used for items that can customize names, like\
        \ containers or ships."
      operationId: PostCharacterAssetsNames
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: item_id integer
                format: int64
                type: integer
              maxItems: 1000
              minItems: 1
              type: array
              uniqueItems: true
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterAssetsNamesPost"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-assets.read_assets.v1
      summary: Get character asset names
      tags:
      - Assets
      x-compatibility-date: 2020-01-01
      x-content-type: application/json
      x-accepts:
      - application/json
  /characters/{character_id}/attributes:
    get:
      description: Return attributes of a character
      operationId: GetCharacterAttributes
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterAttributesResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-skills.read_skills.v1
      summary: Get character attributes
      tags:
      - Skills
      x-cache-age: 120
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/blueprints:
    get:
      description: Return a list of blueprints the character owns
      operationId: GetCharacterBlueprints
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterBlueprintsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
            X-Pages:
              description: The total number of pages in the result set.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_blueprints.v1
      summary: Get blueprints
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/calendar:
    get:
      description: "Get 50 event summaries from the calendar. If no from_event ID\
        \ is given, the resource will return the next 50 chronological event summaries\
        \ from now. If a from_event ID is specified, it will return the next 50 chronological\
        \ event summaries from after that event"
      operationId: GetCharacterCalendar
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: from_event
        required: false
        schema:
          description: The event ID to retrieve events from
          format: int64
          type: integer
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterCalendarResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-calendar.read_calendar_events.v1
      summary: List calendar event summaries
      tags:
      - Calendar
      x-cache-age: 5
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/calendar/{event_id}:
    get:
      description: Get all the information for a specific event
      operationId: GetCharacterCalendarEvent
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          description: The id of the event requested
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterCalendarEventResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-calendar.read_calendar_events.v1
      summary: Get an event
      tags:
      - Calendar
      x-cache-age: 5
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
    put:
      description: Set your response status to an event
      operationId: PutCharacterCalendarEvent
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          description: The ID of the event requested
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutCharacterCalendarEvent_request"
        required: true
      responses:
        "204":
          description: Event updated
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-calendar.respond_calendar_events.v1
      summary: Respond to an event
      tags:
      - Calendar
      x-cache-age: 5
      x-compatibility-date: 2020-01-01
      x-content-type: application/json
      x-accepts:
      - application/json
  /characters/{character_id}/calendar/{event_id}/attendees:
    get:
      description: Get all invited attendees for a given event
      operationId: GetCharacterCalendarEventAttendees
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          description: The id of the event requested
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterCalendarEventAttendeesResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-calendar.read_calendar_events.v1
      summary: Get attendees
      tags:
      - Calendar
      x-cache-age: 600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/clones:
    get:
      description: A list of the character's clones
      operationId: GetCharacterClones
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterClonesResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-clones.read_clones.v1
      summary: Get clones
      tags:
      - Clones
      x-cache-age: 120
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/contacts:
    delete:
      description: Bulk delete contacts
      operationId: DeleteContacts
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: contact_ids
        required: true
        schema:
          description: A list of contacts to delete
          items:
            format: int64
            type: integer
          maxItems: 20
          minItems: 1
          type: array
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "204":
          description: Contacts deleted
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.write_contacts.v1
      summary: Delete contacts
      tags:
      - Contacts
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
    get:
      description: Return contacts of a character
      operationId: GetContacts
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
            X-Pages:
              description: The total number of pages in the result set.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_contacts.v1
      summary: Get contacts
      tags:
      - Contacts
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
    post:
      description: Bulk add contacts with same settings
      operationId: PostContacts
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: label_ids
        required: false
        schema:
          description: Add custom labels to the new contact
          items:
            format: int64
            type: integer
          maxItems: 63
          type: array
        style: form
      - explode: true
        in: query
        name: standing
        required: true
        schema:
          description: Standing for the contact
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: watched
        required: false
        schema:
          default: false
          description: "Whether the contact should be watched, note this is only effective\
            \ on characters"
          type: boolean
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: ID of the contact to edit
                format: int64
                type: integer
              maxItems: 100
              minItems: 1
              type: array
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactsPost"
          description: Created
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.write_contacts.v1
      summary: Add contacts
      tags:
      - Contacts
      x-compatibility-date: 2020-01-01
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Bulk edit contacts with same settings
      operationId: PutContacts
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: label_ids
        required: false
        schema:
          description: Add custom labels to the contact
          items:
            format: int64
            type: integer
          maxItems: 63
          type: array
        style: form
      - explode: true
        in: query
        name: standing
        required: true
        schema:
          description: Standing for the contact
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: watched
        required: false
        schema:
          default: false
          description: "Whether the contact should be watched, note this is only effective\
            \ on characters"
          type: boolean
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: ID of the contact to edit
                format: int64
                type: integer
              maxItems: 100
              minItems: 1
              type: array
        required: true
      responses:
        "204":
          description: Contacts updated
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.write_contacts.v1
      summary: Edit contacts
      tags:
      - Contacts
      x-compatibility-date: 2020-01-01
      x-content-type: application/json
      x-accepts:
      - application/json
  /characters/{character_id}/contacts/labels:
    get:
      description: Return custom labels for a character's contacts
      operationId: GetContactsLabels
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactsLabelsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_contacts.v1
      summary: Get contact labels
      tags:
      - Contacts
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/contracts:
    get:
      description: "Returns contracts available to a character, only if the character\
        \ is issuer, acceptor or assignee. Only returns contracts no older than 30\
        \ days, or if the status is \"in_progress\"."
      operationId: GetCharacterContracts
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterContractsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
            X-Pages:
              description: The total number of pages in the result set.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-contracts.read_character_contracts.v1
      summary: Get contracts
      tags:
      - Contracts
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/contracts/{contract_id}/bids:
    get:
      description: Lists bids on a particular auction contract
      operationId: GetCharacterContractBids
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: contract_id
        required: true
        schema:
          description: ID of a contract
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterContractBidsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-contracts.read_character_contracts.v1
      summary: Get contract bids
      tags:
      - Contracts
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/contracts/{contract_id}/items:
    get:
      description: Lists items of a particular contract
      operationId: GetCharacterContractItems
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: contract_id
        required: true
        schema:
          description: ID of a contract
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterContractItemsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-contracts.read_character_contracts.v1
      summary: Get contract items
      tags:
      - Contracts
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/corporationhistory:
    get:
      description: Get a list of all the corporations a character has been a member
        of
      operationId: GetCharacterCorporationHistory
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterCorporationHistoryResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get corporation history
      tags:
      - Character
      x-cache-age: 86400
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/cspa:
    post:
      description: "Takes a source character ID in the url and a set of target character\
        \ ID's in the body, returns a CSPA charge cost"
      operationId: PostCharacterCspa
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: character integer
                format: int64
                type: integer
              maxItems: 100
              minItems: 1
              type: array
              uniqueItems: true
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterCspaPost"
          description: Created
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_contacts.v1
      summary: Calculate a CSPA charge cost
      tags:
      - Character
      x-compatibility-date: 2020-01-01
      x-content-type: application/json
      x-accepts:
      - application/json
  /characters/{character_id}/fatigue:
    get:
      description: Return a character's jump activation and fatigue information
      operationId: GetCharacterFatigue
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterFatigueResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_fatigue.v1
      summary: Get jump fatigue
      tags:
      - Character
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/fittings:
    get:
      description: Return fittings of a character
      operationId: GetCharacterFittings
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterFittingsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-fittings.read_fittings.v1
      summary: Get fittings
      tags:
      - Fittings
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
    post:
      description: Save a new fitting for a character
      operationId: PostCharacterFittings
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostCharacterFittings_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterFittingsPost"
          description: Created
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-fittings.write_fittings.v1
      summary: Create fitting
      tags:
      - Fittings
      x-compatibility-date: 2020-01-01
      x-content-type: application/json
      x-accepts:
      - application/json
  /characters/{character_id}/fittings/{fitting_id}:
    delete:
      description: Delete a fitting from a character
      operationId: DeleteCharacterFittingsFittingId
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: fitting_id
        required: true
        schema:
          description: ID for a fitting of this character
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "204":
          description: Fitting deleted
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-fittings.write_fittings.v1
      summary: Delete fitting
      tags:
      - Fittings
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/fleet:
    get:
      description: "Return the fleet ID the character is in, if any."
      operationId: GetCharacterFleet
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterFleetResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-fleets.read_fleet.v1
      summary: Get character fleet info
      tags:
      - Fleets
      x-cache-age: 60
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/fw/stats:
    get:
      description: |-
        Statistical overview of a character involved in faction warfare

        This route expires daily at 11:05
      operationId: GetCharacterFactionWarfareStats
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterFactionWarfareStatsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_fw_stats.v1
      summary: Overview of a character involved in faction warfare
      tags:
      - Faction Warfare
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/implants:
    get:
      description: Return implants on the active clone of a character
      operationId: GetCharacterImplants
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterImplantsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-clones.read_implants.v1
      summary: Get active implants
      tags:
      - Clones
      x-cache-age: 120
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/industry/jobs:
    get:
      description: List industry jobs placed by a character
      operationId: GetCharacterIndustryJobs
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: include_completed
        required: false
        schema:
          description: Whether to retrieve completed character industry jobs. Only
            includes jobs from the past 90 days
          type: boolean
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterIndustryJobsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-industry.read_character_jobs.v1
      summary: List character industry jobs
      tags:
      - Industry
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/killmails/recent:
    get:
      description: Return a list of a character's kills and losses going back 90 days
      operationId: GetCharacterKillmails
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterKillmailsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
            X-Pages:
              description: The total number of pages in the result set.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-killmails.read_killmails.v1
      summary: Get a character's recent kills and losses
      tags:
      - Killmails
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/location:
    get:
      description: "Information about the characters current location. Returns the\
        \ current solar system id, and also the current station or structure ID if\
        \ applicable"
      operationId: GetCharacterLocation
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterLocationResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-location.read_location.v1
      summary: Get character location
      tags:
      - Location
      x-cache-age: 5
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/loyalty/points:
    get:
      description: Return a list of loyalty points for all corporations the character
        has worked for
      operationId: GetCharacterLoyaltyPoints
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterLoyaltyPointsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_loyalty.v1
      summary: Get loyalty points
      tags:
      - Loyalty
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/mail:
    get:
      description: "Return the 50 most recent mail headers belonging to the character\
        \ that match the query criteria. Queries can be filtered by label, and last_mail_id\
        \ can be used to paginate backwards"
      operationId: GetMails
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: labels
        required: false
        schema:
          description: Fetch only mails that match one or more of the given labels
          items:
            format: int64
            type: integer
          maxItems: 25
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - explode: true
        in: query
        name: last_mail_id
        required: false
        schema:
          description: "List only mail with an ID lower than the given ID, if present"
          format: int64
          type: integer
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MailsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-mail.read_mail.v1
      summary: Return mail headers
      tags:
      - Mail
      x-cache-age: 30
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
    post:
      description: Create and send a new mail
      operationId: PostMails
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostMails_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MailsPost"
          description: Created
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-mail.send_mail.v1
      summary: Send a new mail
      tags:
      - Mail
      x-compatibility-date: 2020-01-01
      x-content-type: application/json
      x-accepts:
      - application/json
  /characters/{character_id}/mail/labels:
    get:
      description: "Return a list of the users mail labels, unread counts for each\
        \ label and a total unread count."
      operationId: GetMailLabels
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MailLabelsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-mail.read_mail.v1
      summary: Get mail labels and unread counts
      tags:
      - Mail
      x-cache-age: 30
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
    post:
      description: Create a mail label
      operationId: PostMailLabels
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostMailLabels_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MailLabelsPost"
          description: Created
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-mail.organize_mail.v1
      summary: Create a mail label
      tags:
      - Mail
      x-compatibility-date: 2020-01-01
      x-content-type: application/json
      x-accepts:
      - application/json
  /characters/{character_id}/mail/labels/{label_id}:
    delete:
      description: Delete a mail label
      operationId: DeleteMailLabel
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: label_id
        required: true
        schema:
          description: An EVE label id
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "204":
          description: Label deleted
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-mail.organize_mail.v1
      summary: Delete a mail label
      tags:
      - Mail
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/mail/lists:
    get:
      description: Return all mailing lists that the character is subscribed to
      operationId: GetMailLists
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MailListsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-mail.read_mail.v1
      summary: Return mailing list subscriptions
      tags:
      - Mail
      x-cache-age: 120
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/mail/{mail_id}:
    delete:
      description: Delete a mail
      operationId: DeleteMail
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: mail_id
        required: true
        schema:
          description: An EVE mail ID
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "204":
          description: Mail deleted
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-mail.organize_mail.v1
      summary: Delete a mail
      tags:
      - Mail
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
    get:
      description: Return the contents of an EVE mail
      operationId: GetMail
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: mail_id
        required: true
        schema:
          description: An EVE mail ID
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MailResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-mail.read_mail.v1
      summary: Return a mail
      tags:
      - Mail
      x-cache-age: 30
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
    put:
      description: Update metadata about a mail
      operationId: PutMail
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: mail_id
        required: true
        schema:
          description: An EVE mail ID
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutMail_request"
        required: true
      responses:
        "204":
          description: Mail updated
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-mail.organize_mail.v1
      summary: Update metadata about a mail
      tags:
      - Mail
      x-compatibility-date: 2020-01-01
      x-content-type: application/json
      x-accepts:
      - application/json
  /characters/{character_id}/medals:
    get:
      description: Return a list of medals the character has
      operationId: GetCharacterMedals
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterMedalsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_medals.v1
      summary: Get medals
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/mining:
    get:
      description: Paginated record of all mining done by a character for the past
        30 days
      operationId: GetCharacterMining
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterMiningResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
            X-Pages:
              description: The total number of pages in the result set.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-industry.read_character_mining.v1
      summary: Character mining ledger
      tags:
      - Industry
      x-cache-age: 600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/notifications:
    get:
      description: Return character notifications
      operationId: GetCharacterNotifications
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterNotificationsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_notifications.v1
      summary: Get character notifications
      tags:
      - Character
      x-cache-age: 600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/notifications/contacts:
    get:
      description: Return notifications about having been added to someone's contact
        list
      operationId: GetCharacterNotificationsContacts
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterNotificationsContactsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_notifications.v1
      summary: Get new contact notifications
      tags:
      - Character
      x-cache-age: 600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/online:
    get:
      description: Checks if the character is currently online
      operationId: GetCharacterOnline
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterOnlineResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-location.read_online.v1
      summary: Get character online
      tags:
      - Location
      x-cache-age: 60
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/orders:
    get:
      description: List open market orders placed by a character
      operationId: GetCharacterOrders
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterOrdersResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-markets.read_character_orders.v1
      summary: List open orders from a character
      tags:
      - Market
      x-cache-age: 1200
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/orders/history:
    get:
      description: List cancelled and expired market orders placed by a character
        up to 90 days in the past.
      operationId: GetCharacterOrdersHistory
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
        style: form
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterOrdersHistoryResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
            X-Pages:
              description: The total number of pages in the result set.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-markets.read_character_orders.v1
      summary: List historical orders by a character
      tags:
      - Market
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/planets:
    get:
      description: Returns a list of all planetary colonies owned by a character.
      operationId: GetCharacterPlanets
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterPlanetsResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-planets.manage_planets.v1
      summary: Get colonies
      tags:
      - Planetary Interaction
      x-cache-age: 600
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/planets/{planet_id}:
    get:
      description: "Returns full details on the layout of a single planetary colony,\
        \ including links, pins and routes. Note: Planetary information is only recalculated\
        \ when the colony is viewed through the client. Information will not update\
        \ until this criteria is met."
      operationId: GetCharacterPlanet
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: planet_id
        required: true
        schema:
          description: Planet id of the target planet
          format: int64
          type: integer
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterPlanetResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-planets.manage_planets.v1
      summary: Get colony layout
      tags:
      - Planetary Interaction
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/portrait:
    get:
      description: |-
        Get portrait urls for a character

        This route expires daily at 11:05
      operationId: GetCharacterPortrait
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterPortraitResponse"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get character portraits
      tags:
      - Character
      x-compatibility-date: 2020-01-01
      x-accepts:
      - application/json
  /characters/{character_id}/roles:
    get:
      description: Returns a character's corporation roles
      operationId: GetCharacterRoles
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - $ref: "#/components/parameters/AcceptLanguage"
      - $ref: "#/components/parameters/IfNoneMatch"
      - $ref: "#/components/parameters/CompatibilityDate"
      - $ref: "#/components/parameters/Tenant"
      responses:
        "200":
          content:
[...]
