openapi: 3.0.1
info:
  description: An OpenAPI for EVE Online
  title: EVE Swagger Interface
  version: "1.33"
servers:
- url: https://esi.evetech.net/
paths:
  /v1/alliances/:
    get:
      description: |-
        List all active player alliances

        ---

        This route is cached for up to 3600 seconds
      operationId: get_alliances
      parameters:
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - 99000001
              - 99000002
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  minimum: 0
                  title: AlliancesResponse
                  type: integer
                maxItems: 5000
                title: get_alliances_ok
                type: array
          description: List of Alliance IDs
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      summary: List all alliances
      tags:
      - Alliance
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-accepts:
      - application/json
  /v1/alliances/{alliance_id}/contacts/labels/:
    get:
      description: |-
        Return custom labels for an alliance's contacts

        ---

        This route is cached for up to 300 seconds

        SSO Scope: esi-alliances.read_contacts.v1
      operationId: get_alliances_alliance_id_contacts_labels
      parameters:
      - description: An EVE alliance ID
        in: path
        name: alliance_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - label_id: 1
                label_name: Alliance Friends
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/AllianceContactsLabelsResponse'
                maxItems: 64
                title: get_alliances_alliance_id_contacts_labels_ok
                type: array
          description: A list of alliance contact labels
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-alliances.read_contacts.v1
      summary: Get alliance contact labels
      tags:
      - Contacts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-accepts:
      - application/json
  /v1/alliances/{alliance_id}/corporations/:
    get:
      description: |-
        List all current member corporations of an alliance

        ---

        This route is cached for up to 3600 seconds
      operationId: get_alliances_alliance_id_corporations
      parameters:
      - description: An EVE alliance ID
        in: path
        name: alliance_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - 98000001
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  minimum: 0
                  title: AllianceCorporationsResponse
                  type: integer
                maxItems: 1000
                title: get_alliances_alliance_id_corporations_ok
                type: array
          description: List of corporation IDs
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      summary: List alliance's corporations
      tags:
      - Alliance
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-accepts:
      - application/json
  /v1/alliances/{alliance_id}/icons/:
    get:
      description: |-
        Get the icon urls for a alliance

        ---

        This route expires daily at 11:05
      operationId: get_alliances_alliance_id_icons
      parameters:
      - description: An EVE alliance ID
        in: path
        name: alliance_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                px128x128: https://images.evetech.net/alliances/503818424/logo?tenant=tranquility&size=128
                px64x64: https://images.evetech.net/alliances/503818424/logo?tenant=tranquility&size=64
              schema:
                $ref: '#/components/schemas/AllianceIconsResponse'
          description: Icon URLs for the given alliance id and server
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "404":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      summary: Get alliance icon
      tags:
      - Alliance
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-accepts:
      - application/json
  /v1/characters/affiliation/:
    post:
      description: |-
        Bulk lookup of character IDs to corporation, alliance and faction

        ---

        This route is cached for up to 3600 seconds
      operationId: post_characters_affiliation
      parameters:
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: characters array
              items:
                description: character integer
                format: int32
                title: post_characters_affiliation_character
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_characters_affiliation_characters
              type: array
              uniqueItems: true
        description: "The character IDs to fetch affiliations for. All characters\
          \ must exist, or none will be returned"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
              - alliance_id: 434243723
                character_id: 95538921
                corporation_id: 109299958
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/CharacterAffiliationResponse'
                maxItems: 1000
                title: post_characters_affiliation_ok
                type: array
          description: "Character corporation, alliance and faction IDs"
        "400":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      summary: Character affiliation
      tags:
      - Character
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-codegen-request-body-name: characters
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/characters/{character_id}/assets/names/:
    post:
      description: |-
        Return names for a set of item ids, which you can get from character assets endpoint. Typically used for items that can customize names, like containers or ships.

        ---


        SSO Scope: esi-assets.read_assets.v1
      operationId: post_characters_character_id_assets_names
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: item_ids array
              items:
                description: item_id integer
                format: int64
                title: post_characters_character_id_assets_names_item_id
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_characters_character_id_assets_names_item_ids
              type: array
              uniqueItems: true
        description: A list of item ids
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
              - item_id: 12345
                name: Awesome Name
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/CharacterAssetsNamesResponse'
                maxItems: 1000
                title: post_characters_character_id_assets_names_ok
                type: array
          description: List of asset names
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-assets.read_assets.v1
      summary: Get character asset names
      tags:
      - Assets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-codegen-request-body-name: item_ids
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/characters/{character_id}/attributes/:
    get:
      description: |-
        Return attributes of a character

        ---

        This route is cached for up to 120 seconds

        SSO Scope: esi-skills.read_skills.v1
      operationId: get_characters_character_id_attributes
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                charisma: 20
                intelligence: 20
                memory: 20
                perception: 20
                willpower: 20
              schema:
                $ref: '#/components/schemas/CharacterAttributesResponse'
          description: Attributes of a character
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-skills.read_skills.v1
      summary: Get character attributes
      tags:
      - Skills
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 120
      x-accepts:
      - application/json
  /v1/characters/{character_id}/calendar/:
    get:
      description: |-
        Get 50 event summaries from the calendar. If no from_event ID is given, the resource will return the next 50 chronological event summaries from now. If a from_event ID is specified, it will return the next 50 chronological event summaries from after that event

        ---

        This route is cached for up to 5 seconds

        SSO Scope: esi-calendar.read_calendar_events.v1
      operationId: get_characters_character_id_calendar
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: The event ID to retrieve events from
        in: query
        name: from_event
        schema:
          format: int32
          type: integer
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - event_date: 2016-06-26T20:00:00Z
                event_id: 1386435
                event_response: accepted
                importance: 0
                title: o7 The EVE Online Show
              schema:
                description: Up to 50 events from now or the event you requested
                items:
                  $ref: '#/components/schemas/CharacterCalendarResponse'
                maxItems: 50
                title: get_characters_character_id_calendar_ok
                type: array
          description: A collection of event summaries
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-calendar.read_calendar_events.v1
      summary: List calendar event summaries
      tags:
      - Calendar
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 5
      x-accepts:
      - application/json
  /v1/characters/{character_id}/calendar/{event_id}/attendees/:
    get:
      description: |-
        Get all invited attendees for a given event

        ---

        This route is cached for up to 600 seconds

        SSO Scope: esi-calendar.read_calendar_events.v1
      operationId: get_characters_character_id_calendar_event_id_attendees
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: The id of the event requested
        in: path
        name: event_id
        required: true
        schema:
          format: int32
          type: integer
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - character_id: 2112625428
                event_response: accepted
              - character_id: 95465499
                event_response: tentative
              schema:
                description: List of attendees for a given event
                items:
                  $ref: '#/components/schemas/CharacterCalendarAttendeesResponse'
                maxItems: 100
                title: get_characters_character_id_calendar_event_id_attendees_ok
                type: array
          description: List of attendees
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "404":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-calendar.read_calendar_events.v1
      summary: Get attendees
      tags:
      - Calendar
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 600
      x-accepts:
      - application/json
  /v1/characters/{character_id}/contacts/:
    delete:
      description: |-
        Bulk delete contacts

        ---


        SSO Scope: esi-characters.write_contacts.v1
      operationId: delete_characters_character_id_contacts
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: A list of contacts to delete
        explode: false
        in: query
        name: contact_ids
        required: true
        schema:
          items:
            format: int32
            type: integer
          maxItems: 20
          minItems: 1
          type: array
        style: form
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Contacts deleted
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-characters.write_contacts.v1
      summary: Delete contacts
      tags:
      - Contacts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-accepts:
      - application/json
  /v1/characters/{character_id}/contacts/labels/:
    get:
      description: |-
        Return custom labels for a character's contacts

        ---

        This route is cached for up to 300 seconds

        SSO Scope: esi-characters.read_contacts.v1
      operationId: get_characters_character_id_contacts_labels
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - label_id: 123
                label_name: Friends
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/ContactLabelsResponse'
                maxItems: 64
                title: get_characters_character_id_contacts_labels_ok
                type: array
          description: A list of contact labels
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-characters.read_contacts.v1
      summary: Get contact labels
      tags:
      - Contacts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-accepts:
      - application/json
  /v1/characters/{character_id}/contracts/:
    get:
      description: |-
        Returns contracts available to a character, only if the character is issuer, acceptor or assignee. Only returns contracts no older than 30 days, or if the status is "in_progress".

        ---

        This route is cached for up to 300 seconds
      operationId: get_characters_character_id_contracts
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Which page of results to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - acceptor_id: 0
                assignee_id: 0
                availability: public
                buyout: 1.000000000001E10
                contract_id: 1
                date_accepted: 2017-06-06T13:12:32Z
                date_completed: 2017-06-06T13:12:32Z
                date_expired: 2017-06-13T13:12:32Z
                date_issued: 2017-06-06T13:12:32Z
                days_to_complete: 0
                end_location_id: 60014719
                for_corporation: true
                issuer_corporation_id: 456
                issuer_id: 123
                price: 1000000.01
                reward: 0.01
                start_location_id: 60014719
                status: outstanding
                type: auction
                volume: 0.01
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/CharacterContractsResponse'
                maxItems: 1000
                title: get_characters_character_id_contracts_ok
                type: array
          description: A list of contracts
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                default: 1
                format: int32
                type: integer
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-contracts.read_character_contracts.v1
      summary: Get contracts
      tags:
      - Contracts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-accepts:
      - application/json
  /v1/characters/{character_id}/contracts/{contract_id}/bids/:
    get:
      description: |-
        Lists bids on a particular auction contract

        ---

        This route is cached for up to 300 seconds

        SSO Scope: esi-contracts.read_character_contracts.v1
      operationId: get_characters_character_id_contracts_contract_id_bids
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: ID of a contract
        in: path
        name: contract_id
        required: true
        schema:
          format: int32
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - amount: 1.23
                bid_id: 1
                bidder_id: 123
                date_bid: 2017-01-01T10:10:10Z
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/CharacterContractsBidsResponse'
                maxItems: 5000
                title: get_characters_character_id_contracts_contract_id_bids_ok
                type: array
          description: A list of bids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "404":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-contracts.read_character_contracts.v1
      summary: Get contract bids
      tags:
      - Contracts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-accepts:
      - application/json
  /v1/characters/{character_id}/contracts/{contract_id}/items/:
    get:
      description: |-
        Lists items of a particular contract

        ---

        This route is cached for up to 3600 seconds

        SSO Scope: esi-contracts.read_corporation_contracts.v1

        SSO Scope: esi-contracts.read_character_contracts.v1
      operationId: get_characters_character_id_contracts_contract_id_items
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: ID of a contract
        in: path
        name: contract_id
        required: true
        schema:
          format: int32
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - is_included: true
                is_singleton: false
                quantity: 1
                record_id: 123456
                type_id: 587
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/CharacterContractsItemsResponse'
                maxItems: 5000
                title: get_characters_character_id_contracts_contract_id_items_ok
                type: array
          description: A list of items in this contract
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "404":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-contracts.read_character_contracts.v1
      summary: Get contract items
      tags:
      - Contracts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-accepts:
      - application/json
  /v1/characters/{character_id}/fittings/:
    post:
      description: |-
        Save a new fitting for a character

        ---


        SSO Scope: esi-fittings.write_fittings.v1
      operationId: post_characters_character_id_fittings
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CharacterFitting'
        description: Details about the new fitting
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                fitting_id: 2
              schema:
                $ref: '#/components/schemas/CharacterFittingResponse'
          description: A list of fittings
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-fittings.write_fittings.v1
      summary: Create fitting
      tags:
      - Fittings
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-codegen-request-body-name: fitting
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/characters/{character_id}/fittings/{fitting_id}/:
    delete:
      description: |-
        Delete a fitting from a character

        ---


        SSO Scope: esi-fittings.write_fittings.v1
      operationId: delete_characters_character_id_fittings_fitting_id
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ID for a fitting of this character
        in: path
        name: fitting_id
        required: true
        schema:
          format: int32
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Fitting deleted
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-fittings.write_fittings.v1
      summary: Delete fitting
      tags:
      - Fittings
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-accepts:
      - application/json
  /v1/characters/{character_id}/fleet/:
    get:
      description: |-
        Return the fleet ID the character is in, if any.

        ---

        This route is cached for up to 60 seconds

        SSO Scope: esi-fleets.read_fleet.v1
      operationId: get_characters_character_id_fleet
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                fleet_boss_id: 2112000001
                fleet_id: 1234567890
                role: fleet_commander
                squad_id: -1
                wing_id: -1
              schema:
                $ref: '#/components/schemas/CharacterFleetResponse'
          description: Details about the character's fleet
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "404":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-fleets.read_fleet.v1
      summary: Get character fleet info
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 60
      x-accepts:
      - application/json
  /v1/characters/{character_id}/fw/stats/:
    get:
      description: |-
        Statistical overview of a character involved in faction warfare

        ---

        This route expires daily at 11:05

        SSO Scope: esi-characters.read_fw_stats.v1
      operationId: get_characters_character_id_fw_stats
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                enlisted_on: 2017-10-17T00:00:00Z
                faction_id: 500001
                kills:
                  last_week: 893
                  total: 684350
                  yesterday: 136
                victory_points:
                  last_week: 102640
                  total: 52658260
                  yesterday: 15980
              schema:
                $ref: '#/components/schemas/CharacterFwStatsResponse'
          description: Faction warfare statistics for a given character
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-characters.read_fw_stats.v1
      summary: Overview of a character involved in faction warfare
      tags:
      - Faction Warfare
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-accepts:
      - application/json
  /v1/characters/{character_id}/implants/:
    get:
      description: |-
        Return implants on the active clone of a character

        ---

        This route is cached for up to 120 seconds

        SSO Scope: esi-clones.read_implants.v1
      operationId: get_characters_character_id_implants
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - 1
              - 2
              - 3
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  title: CharacterImplantsResponse
                  type: integer
                maxItems: 64
                title: get_characters_character_id_implants_ok
                type: array
          description: A list of implant type ids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-clones.read_implants.v1
      summary: Get active implants
      tags:
      - Clones
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 120
      x-accepts:
      - application/json
  /v1/characters/{character_id}/industry/jobs/:
    get:
      description: |-
        List industry jobs placed by a character

        ---

        This route is cached for up to 300 seconds

        SSO Scope: esi-industry.read_character_jobs.v1
      operationId: get_characters_character_id_industry_jobs
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Whether to retrieve completed character industry jobs. Only includes
          jobs from the past 90 days
        in: query
        name: include_completed
        schema:
          type: boolean
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - activity_id: 1
                blueprint_id: 1015116533326
                blueprint_location_id: 60006382
                blueprint_type_id: 2047
                cost: 118.01
                duration: 548
                end_date: 2014-07-19T15:56:14Z
                facility_id: 60006382
                installer_id: 498338451
                job_id: 229136101
                licensed_runs: 200
                output_location_id: 60006382
                runs: 1
                start_date: 2014-07-19T15:47:06Z
                station_id: 60006382
                status: active
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/CharacterIndustryJobsResponse'
                maxItems: 2000
                title: get_characters_character_id_industry_jobs_ok
                type: array
          description: Industry jobs placed by a character
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-industry.read_character_jobs.v1
      summary: List character industry jobs
      tags:
      - Industry
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-accepts:
      - application/json
  /v1/characters/{character_id}/killmails/recent/:
    get:
      description: |-
        Return a list of a character's kills and losses going back 90 days

        ---

        This route is cached for up to 300 seconds

        SSO Scope: esi-killmails.read_killmails.v1
      operationId: get_characters_character_id_killmails_recent
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Which page of results to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - killmail_hash: 8eef5e8fb6b88fe3407c489df33822b2e3b57a5e
                killmail_id: 2
              - killmail_hash: b41ccb498ece33d64019f64c0db392aa3aa701fb
                killmail_id: 1
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/CharacterKillmailsResponse'
                maxItems: 1000
                title: get_characters_character_id_killmails_recent_ok
                type: array
          description: A list of killmail IDs and hashes
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                default: 1
                format: int32
                type: integer
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-killmails.read_killmails.v1
      summary: Get a character's recent kills and losses
      tags:
      - Killmails
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-accepts:
      - application/json
  /v1/characters/{character_id}/location/:
    get:
      description: |-
        Information about the characters current location. Returns the current solar system id, and also the current station or structure ID if applicable

        ---

        This route is cached for up to 5 seconds

        SSO Scope: esi-location.read_location.v1
      operationId: get_characters_character_id_location
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                solar_system_id: 30002505
                structure_id: 1000000016989
              schema:
                $ref: '#/components/schemas/CharacterLocationResponse'
          description: "Information about the characters current location. Returns\
            \ the current solar system id, and also the current station or structure\
            \ ID if applicable"
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-location.read_location.v1
      summary: Get character location
      tags:
      - Location
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 5
      x-accepts:
      - application/json
  /v1/characters/{character_id}/loyalty/points/:
    get:
      description: |-
        Return a list of loyalty points for all corporations the character has worked for

        ---

        This route is cached for up to 3600 seconds

        SSO Scope: esi-characters.read_loyalty.v1
      operationId: get_characters_character_id_loyalty_points
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - corporation_id: 123
                loyalty_points: 100
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/CharacterLoyaltyPointsResponse'
                maxItems: 500
                title: get_characters_character_id_loyalty_points_ok
                type: array
          description: A list of loyalty points
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-characters.read_loyalty.v1
      summary: Get loyalty points
      tags:
      - Loyalty
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-accepts:
      - application/json
  /v1/characters/{character_id}/mail/:
    get:
      description: |-
        Return the 50 most recent mail headers belonging to the character that match the query criteria. Queries can be filtered by label, and last_mail_id can be used to paginate backwards

        ---

        This route is cached for up to 30 seconds

        SSO Scope: esi-mail.read_mail.v1
      operationId: get_characters_character_id_mail
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Fetch only mails that match one or more of the given labels
        explode: false
        in: query
        name: labels
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 25
          minItems: 1
          type: array
          uniqueItems: true
        style: form
      - description: "List only mail with an ID lower than the given ID, if present"
        in: query
        name: last_mail_id
        schema:
          format: int32
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - from: 90000001
                is_read: true
                labels:
                - 3
                mail_id: 7
                recipients:
                - recipient_id: 90000002
                  recipient_type: character
                subject: Title for EVE Mail
                timestamp: 2015-09-30T16:07:00Z
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/MailHeadersResponse'
                maxItems: 50
                title: get_characters_character_id_mail_ok
                type: array
          description: The requested mail
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-mail.read_mail.v1
      summary: Return mail headers
      tags:
      - Mail
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 30
      x-accepts:
      - application/json
    post:
      description: |-
        Create and send a new mail

        ---


        SSO Scope: esi-mail.send_mail.v1
      operationId: post_characters_character_id_mail
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mail'
        description: The mail to send
        required: true
      responses:
        "201":
          content:
            application/json:
              example: 13
              schema:
                description: Mail ID
                format: int32
                title: SendMailResponse
                type: integer
          description: Mail created
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "520":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
      security:
      - evesso:
        - esi-mail.send_mail.v1
      summary: Send a new mail
      tags:
      - Mail
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-codegen-request-body-name: mail
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/characters/{character_id}/mail/labels/{label_id}/:
    delete:
      description: |-
        Delete a mail label

        ---


        SSO Scope: esi-mail.organize_mail.v1
      operationId: delete_characters_character_id_mail_labels_label_id
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: An EVE label id
        in: path
        name: label_id
        required: true
        schema:
          format: int32
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Label deleted
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "422":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-mail.organize_mail.v1
      summary: Delete a mail label
      tags:
      - Mail
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-accepts:
      - application/json
  /v1/characters/{character_id}/mail/lists/:
    get:
      description: |-
        Return all mailing lists that the character is subscribed to

        ---

        This route is cached for up to 120 seconds

        SSO Scope: esi-mail.read_mail.v1
      operationId: get_characters_character_id_mail_lists
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - mailing_list_id: 1
                name: test_mailing_list
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/CharacterMailinglistsResponse'
                maxItems: 1000
                title: get_characters_character_id_mail_lists_ok
                type: array
          description: Mailing lists
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-mail.read_mail.v1
      summary: Return mailing list subscriptions
      tags:
      - Mail
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 120
      x-accepts:
      - application/json
  /v1/characters/{character_id}/mail/{mail_id}/:
    delete:
      description: |-
        Delete a mail

        ---


        SSO Scope: esi-mail.organize_mail.v1
      operationId: delete_characters_character_id_mail_mail_id
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: An EVE mail ID
        in: path
        name: mail_id
        required: true
        schema:
          format: int32
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Mail deleted
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-mail.organize_mail.v1
      summary: Delete a mail
      tags:
      - Mail
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-accepts:
      - application/json
    get:
      description: |-
        Return the contents of an EVE mail

        ---

        This route is cached for up to 30 seconds

        SSO Scope: esi-mail.read_mail.v1
      operationId: get_characters_character_id_mail_mail_id
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: An EVE mail ID
        in: path
        name: mail_id
        required: true
        schema:
          format: int32
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                body: blah blah blah
                from: 90000001
                labels:
                - 2
                - 32
                read: true
                subject: test
                timestamp: 2015-09-30T16:07:00Z
              schema:
                $ref: '#/components/schemas/MailResponse'
          description: Contents of a mail
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "404":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-mail.read_mail.v1
      summary: Return a mail
      tags:
      - Mail
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 30
      x-accepts:
      - application/json
    put:
      description: |-
        Update metadata about a mail

        ---


        SSO Scope: esi-mail.organize_mail.v1
      operationId: put_characters_character_id_mail_mail_id
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: An EVE mail ID
        in: path
        name: mail_id
        required: true
        schema:
          format: int32
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailMetaData'
        description: Data used to update the mail
        required: true
      responses:
        "204":
          content: {}
          description: Mail updated
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-mail.organize_mail.v1
      summary: Update metadata about a mail
      tags:
      - Mail
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-codegen-request-body-name: contents
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/characters/{character_id}/mining/:
    get:
      description: |-
        Paginated record of all mining done by a character for the past 30 days

        ---

        This route is cached for up to 600 seconds

        SSO Scope: esi-industry.read_character_mining.v1
      operationId: get_characters_character_id_mining
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Which page of results to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
      - description: Access token to use if unable to set a header
        in: query
        name: token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - date: 2017-09-19
                quantity: 7004
                solar_system_id: 30003707
                type_id: 17471
              - date: 2017-09-18
                quantity: 5199
                solar_system_id: 30003707
                type_id: 17471
              schema:
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/CharacterMiningResponse'
                maxItems: 1000
                title: get_characters_character_id_mining_ok
                type: array
          description: Mining ledger of a character
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                default: 1
                format: int32
                type: integer
        "304":
          content: {}
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        "400":
          content: {}
        "401":
          content: {}
        "403":
          content: {}
        "420":
          content: {}
        "500":
          content: {}
        "503":
          content: {}
        "504":
          content: {}
        "404":
          content: {}
        "422":
          content: {}
        "502":
          content: {}
        "520":
          content: {}
      security:
      - evesso:
        - esi-industry.read_character_mining.v1
      summary: Character mining ledger
      tags:
      - Industry
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 600
      x-accepts:
      - application/json
  /v1/characters/{character_id}/orders/history/:
    get:
      description: |-
        List cancelled and expired market orders placed by a character up to 90 days in the past.

        ---

        This route is cached for up to 3600 seconds

        SSO Scope: esi-markets.read_character_orders.v1
      operationId: get_characters_character_id_orders_history
      parameters:
      - description: An EVE character ID
        in: path
        name: character_id
        required: true
        schema:
          format: int32
          minimum: 1
          type: integer
      - description: The server name you would like data from
        in: query
        name: datasource
        schema:
          default: tranquility
          enum:
          - tranquility
          type: string
      - description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        in: header
        name: If-None-Match
        schema:
          type: string
      - description: Which page of results to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
      - description: Access token to use if unable to set a header
        in: query
[...]
